.species-list-item {
  flex: 1;
  display: flex;

  & > button {
    border: 0;
    flex: 1;
    display: flex;
    background: transparent;
    border-radius: 12px;
    padding: 8px 24px 12px 24px;
    align-items: center;
    font-size: 24px;
    transition: all 0.3s ease;

    .number {
      min-width: 150px;
    }

    .label,
    .number {
      text-align: left;
    }

    &:hover,
    &:focus {
      outline: 0;
    }
  }

  &.selected > button {
    cursor: pointer;
    outline: 0;
    background: linear-gradient(105deg, #ff5d14 150px, black 151px);
    color: white;
    box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.3);
    transform: translateY(-4px);
  }

  .icon-wrapper {
    width: 40px;
    height: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
}
