.chevron {
  width: 0.6em;
  height: 0.6em;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    border-color: currentColor;
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: "";
    display: inline-block;
    height: 0.45em;
    position: relative;
    top: 0.15em;
    transform: rotate(-45deg);
    transform-origin: center center;
    vertical-align: top;
    width: 0.45em;
  }

  &.right:before {
    left: 0;
    transform: rotate(45deg);
  }

  &.bottom:before {
    top: 0;
    transform: rotate(135deg);
  }

  &.left:before {
    left: 0.25em;
    transform: rotate(-135deg);
  }
}
