.pokedex-image-wrapper {
  transition: all 0.3s ease;

  .sprite {
    transform: scale(4);
    transform-origin: center;
  }

  &.moved {
    transform: translateX(-40px);
  }
}

@media screen and (max-width: 1100px) {
  .pokedex-image-wrapper {
    .sprite {
      transform: scale(1);
      width: 100%;
      max-width: 250px;
    }

    &.moved {
      transform: translateY(-10px);
    }
  }
}
