.pokedex-image-wrapper {
  transition: all 0.3s ease;

  .sprite {
    width: 100%;
    max-width: 400px;
    transform-origin: center;
  }

  &.moved {
    transform: translateX(-30px);
  }
}

@media screen and (max-width: 1100px) {
  .pokedex-image-wrapper {
    .sprite {
      max-width: 250px;
    }

    &.moved {
      transform: translateY(-10px);
    }
  }
}
