.species-info-grid {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "title title"
    "genera genera"
    "type-label type-list"
    "height-label height"
    "weight-label weight"
    "flavor flavor";
  align-items: center;
  padding: 12px;
  grid-gap: 8px;

  .species-type-label {
    grid-area: type-label;
  }

  .species-types {
    grid-area: type-list;
    display: grid;
    gap: 4px;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, auto);
    justify-content: start;
  }

  .species-weight-label {
    grid-area: weight-label;
  }

  .species-weight {
    grid-area: weight;
  }

  .species-height-label {
    grid-area: height-label;
  }

  .species-height {
    grid-area: height;
  }

  .title {
    background: #dadad7;
    padding: 8px 4px;
    font-weight: bolder;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
  }

  .term {
    background: #ffffff;
    min-height: 22px;
    padding: 8px 4px;
    font-weight: 28px;
    margin-right: 16px;
  }

  .species-genera {
    grid-area: genera;
    text-align: center;
    margin-right: 16px;
  }

  .flavor {
    grid-area: flavor;
    padding: 12px;
    margin-left: 16px;
  }
}

@media screen and (max-width: 1100px) {
  .flavor {
    padding: 8px;
  }
}
